.palauteboxi {
  color: darkgrey;
  background-color: #161616;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 15px;
}

.profile_pic {
  border: 2px solid white;
  border-radius: 50%;
}
