.profile_pic {
  border: 2px solid white;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.profile_pic:hover {
  box-shadow: 0 0 8px white, 0 0 8px red;
}

.yellowtail {
  color: darkgray;
  font-family: 'Yellowtail', cursive;
}
