.github_pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  /* spin spin */
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
}

.github_pic:hover {
  /*SPIN*/
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  /*SPIN*/
}

.profile_pic {
  border: 2px solid white;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  /* spin spin */
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
}

/* profile pic shadow and flip on hover :D */
.profile_pic:hover {
  box-shadow: 0 0 8px white, 0 0 8px red;
  /*SPIN*/
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  /*SPIN*/
}

.yellowtail {
  color: darkgray;
  font-family: 'Yellowtail', cursive;
}
.content {
  background-image: url(../img/matrix.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}
.content h1 {
  text-align: center;
}
