.yellowtail {
  color: darkgray;
  font-family: 'Yellowtail', cursive;
}

.flexkontti {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexboxi {
  margin: 2px;
  /*border: 1px solid red; /* erottaa missä boxit menee */
}
.flexboxi code {
  border: 1px solid darkgray;
}

.flexboxi img{
  max-width: 100%;
  height: auto;
}
.content {
  background-image: url(../img/network.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
