.yellowtail {
  color: darkgray;
  font-family: 'Yellowtail', cursive;
}

.flexkontti {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexboxi {
  /*width: ; */
  padding: 15px;
  /*border: 1px solid red; /* erottaa missä boxit menee */
  border-collapse: collapse;
}
.flexboxi code {
  border: 1px solid darkgray;
}
