html, body {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  /*min-height: 100%;*/
  background-color: black;
  margin: 2px;
  font: 16px Sans-Serif;
}

/* Header container */
.header {
  flex: 0 0 auto;
  padding: 15px;
  font-size: 150%;
  color: darkgrey;
  text-align: center;
  font-family: 'Big Shoulders Stencil Display', cursive;
  background-color: #424242;
}

.header h1 {
  text-shadow: 1px 1px 2px black;
}
/* ---------------- */


/* Navbar container */
.navbar {
  flex: 0 0 auto;
  position: -webkit-sticky;/* Safari */
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #2c2c2c;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Links inside the navbar */
.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Link color on hover */
.navbar a:hover {
  background-color: #dddddd;
  color: black;
  border-radius: 50%;
}

.active {
  background-color: black;
  border-radius: 50%;
}
/* ------------------- */

/* Content container.. :D */
.content {
  color: darkgrey;
  background-color: #161616;
  flex: 1 0 auto;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  margin-top: 15px;
  padding: 15px;
}
/* ---------------------- */

/* Footer container */
.footer {
  flex-shrink: 0;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 5px;
  color: darkgrey;
  text-align: center;
  font-family: 'Big Shoulders Stencil Display', cursive;
}
/* ---------------- */


* {
  box-sizing: border-box;
}

/*
h1 {
  margin: 0 0 20px 0;
}

p {
  margin: 0 0 20px 0;
}
*/
