.yellowtail {
  color: darkgray;
  font-family: 'Yellowtail', cursive;
}

.flexkontti {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flexkontti_ {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.flexboxi {
  width: 550px;
  /*padding: 15px;*/
  /*border: 1px solid red; /* erottaa missä boxit menee */
  border-collapse: collapse;
}
