.yellowtail {
  color: darkgray;
  font-family: 'Yellowtail', cursive;
}

.flexkontti {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexkontti_ {
  margin: 2px;
  /* border: 1px solid red; näkee missä menee containeri */
}

.flexboxi img {
  max-width: 100%;
  height: auto;
}

.content {
  background-image: url(../img/server_room.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
