html, body {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  /*min-height: 100%;*/
  background-color: black;
  margin: 2px;
  font: 16px Sans-Serif;
}

* {
  box-sizing: border-box;
}

/* Header container */
.header {
  flex: 0 0 auto;
  /* padding: 15px 150px; */
  font-size: 160%;
  color: #1c1c1c;
  text-align: center;
  font-family: 'Big Shoulders Stencil Display', cursive;
  background-color: #424242;
  background-image: url(../img/under-construction.png);
  background-position: center;
  background-size: contain;
  /* reunoille tyhjöää vähän.. */
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* a bit bigger h1*/
.header h1 {
  margin: 15px 0;
  text-shadow: 0 0 6px white, 0 0 6px red;
}

/* ---------------- */
/* Navbar "container" */
nav {
  flex: 0 0 auto;
  /*position: -webkit-sticky;/* Safari */
  /*position: sticky; */
  top: 0;
  background-color: #2c2c2c;
  border-bottom: 2px solid black;
  /*z-index: 1; /* so sticky works correctly */
  /* reunoille tyhjöää vähän.. */
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

/* Links inside the navbar */
nav li a, .dropbtn {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  border-radius: 5%;
}

/* Link color on hover, except active one */
nav li a:hover:not(.active), .dropdown .dropbtn {
  background-color: #dddddd;
  color: black;
}

/* active link */
.active {
  background-color: #003c00;
  border-radius: 5%;
  /* border: 1px solid #161616; */
}

.right {
  float: right;
}

nav li.dropdown {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c2c2c;
  font-size: 79%;
  border-radius: 5%;
  z-index: 1;
}

.dropdown-content a {
  color: #f2f2f2;
  padding: 8px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #dddddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {

  nav ul li.right,
  nav ul li {
    float: none;
  }
}

/* ------------------- */
/* Content container.. :D */
.content {
  color: darkgrey;
  background-color: #161616;
  flex: 1 0 auto;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  min-width: 320px;
  margin-top: 15px;
  padding: 15px;
  /* reunoille tyhjöää vähän.. */
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* ---------------------- */
/* Footer container */
.footer {
  flex-shrink: 0;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 5px;
  /*background-color: grey;*/
  color: darkgrey;
  text-align: center;
  font-family: 'Big Shoulders Stencil Display', cursive;
  /* reunoille tyhjöää vähän.. */
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* ---------------------- */
/* 'responsivness' :D */
@media screen and (max-width: 600px) {
  .header, nav, .content, .footer {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .header {
    margin-top: 0;
  }
}

/* ---------------------- */
