.content h1 {
  text-align: center;
}

.ts-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 15px 15px 25px rgba(0, 80, 0, 0.19);
}

.yellowtail {
  color: darkgray;
  font-family: 'Yellowtail', cursive;
}

.content {
  background-image: url(../img/network.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

.content p {
  text-align: center;
}
